<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nwpu.blog.mapper.MessageMapper">
    <resultMap id="message" type="org.nwpu.blog.bean.Message">
        <id property="id" column="message_id" jdbcType="INTEGER"></id>
        <result property="pid" column="message_pid" jdbcType="INTEGER"></result>
        <result property="authorId" column="mesaage_author_id" jdbcType="INTEGER"></result>
        <result property="content" column="message_content" jdbcType="VARCHAR"></result>
        <result property="createTime" column="message_create_time" jdbcType="TIMESTAMP"></result>
        <result property="isDeleted" column="message_deleted" jdbcType="INTEGER"></result>
    </resultMap>

    <select id="getMessageById" resultMap="message">
        SELECT message_id,message_pid,mesaage_author_id,
               message_content,message_create_time,message_deleted
        FROM message
        WHERE message_id = #{messageId} AND message_deleted = 0
    </select>

    <insert id="insertMessage">
        INSERT INTO message(message_pid,mesaage_author_id,message_content,message_create_time,message_deleted)
        VALUES (#{message.pid},#{message.authorId},#{message.content},#{message.createTime},#{message.isDeleted})
    </insert>

    <select id="searchParentMessages" resultMap="message">
        SELECT message_id,message_pid,mesaage_author_id,
               message_content,message_create_time,message_deleted
        FROM message
        WHERE message_pid = 0 AND message_deleted = 0
        ORDER BY message_id DESC
        LIMIT #{start},#{pageSize}
    </select>

    <select id="getChildMessagesByPid" resultMap="message">
        SELECT message_id,message_pid,mesaage_author_id,
               message_content,message_create_time,message_deleted
        FROM message
        WHERE message_deleted = 0
        AND message_pid IN
        (
            <foreach collection="messages" item="message" separator=",">
                #{message.id}
            </foreach>
        )
    </select>

    <select id="countParentMessages" resultType="java.lang.Integer">
        SELECT COUNT(message_id)
        FROM message
        WHERE message_deleted = 0 <if test="isParent">AND message_pid = 0</if>
    </select>

    <select id="searchParentMessagesReply" resultMap="message">
        SELECT message_id,message_pid,mesaage_author_id,
               message_content,message_create_time,message_deleted
        FROM message
        WHERE message_deleted = 0 AND message_pid = 0
        <if test="!hasReply">AND message_id NOT IN (SELECT message_pid FROM message)</if>
        ORDER BY message_id DESC
        LIMIT #{start},#{pageSize}
    </select>

    <select id="countMessagesReply" resultType="java.lang.Integer">
        SELECT COUNT(message_id)
        FROM message
        WHERE message_deleted = 0 AND message_pid = 0
        <if test="!hasReply">AND message_id NOT IN (SELECT message_pid FROM message)</if>
    </select>
</mapper>